.body {
  background: #fffff9;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.navigation {
  background: #FDC7C0;
  overflow: hidden;
  list-style-type: none;
  margin: 0px;
}

.navigation__item {
  float: left;
  display: block;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
}

.navigation__item a:hover {
  background-color: #fee2de;
}

.navigation__item--link {
  font-size: 25px;
  font-weight: bold;
  color: #6b717e;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
}

.main {
  max-width: 1000px;
  margin: auto;
}

.aboutme {
  background-color: rgba(255,255, 255, 0.1);
  text-align: center;
  height: 400px;
}

.aboutme__img {
  border-radius: 50%;

}

.blogPost__h1 {
  font-size: 30px;
}

.blogPost__date {
  font-size: 20px;
}

.blogPost__post {
  border-style: solid;
  border-color: lightsteelblue;
  border-radius: 3%;
}

.blogPost__regular-text {
  font-size: 12px;
}

.h1 {
  color: #546d71;
  font-size: x-large;
  font-weight: bold;
}

.h2 {
  color: #ea5c5d;
  font-size: large;
}

.h3 {
  color: #62929e;
  font-size: medium;
  font-weight: 600;
}

.post-date {
  color: #ea5c5d;
  font-size: small;
}

.aboutme__post {
  background-color: #dcdcdd;
}

.aboutme__regular-text {
  color: #166088;
  font-size: medium;
}

footer {
  color: palevioletred;
  font-size: smaller;
}
